@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* #root{
    height: 100vh;
    width: 100vw;
    display: flex;
} */

/* body {
    margin: 0;
    padding: 0;
} */

.invert-to-white {
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131); 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 68, 68, 0.5); 
}

/* .invert-to-white-second {
    filter: invert(1);
} */

/* * {
    border: 1px solid black;
} */
